.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  min-width: 320px;
  max-width: 500px;
  gap: 1em;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.05);
  filter: grayscale(1);
  transition: all ease-in-out 0.3s;
  background: var(--special-color);
  border-radius: 5px;
}

.card-container:hover {
  filter: grayscale(0);
}

.card-description {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.card-container img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card-links {
  display: flex;
}

.card-links ul {
  display: flex;
  gap: 1em;
}
